@font-face {
  font-family: 'Pretendard-Regular';
  src: url('components/fonts/Pretendard-Regular.otf') format('truetype');
}
body {
  font-family: 'Pretendard-Regular';
  background-color: rgb(231, 226, 220);
}
